/* Style for header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

/* Style for footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Style for main section */
main {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 30px;
}

form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form label,
form input {
  width: 100%;
  margin-bottom: 10px;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #333;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}